<!DOCTYPE html>
<html>
  <head>
    <title>Speech Recognition Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
      <link href="../../static/css/customstyle.css">
      <script src="../../static/js/vendor/jquery-3.2.1.min.js"></script>
<script src="../../static/js/vendor/popper.min.js"></script>
<script src="../../static/js/vendor/bootstrap.min.js"></script>
  </head>
  <body>
{#    <div class="container" id="main-container">#}
        <!-- the parameters from server side are called in the client side using the below syntax -->

    <!-- custom block  that can be overriden in the child templates-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

        {% block content%}
            <h1>test</h1>
        {% endblock content %}
{#    </div>#}


    {% block scripts %}
    {% endblock scripts %}
    <!-- call the function here -->
  </body>

</html>
