{% extends "reservation_app/base.html" %}

{% block content %}

    {% include "reservation_app/partials/navbar.html" %}
    <style>#booking-div, #train-details-div{margin-top: 20px}</style>

    <div class="main-container col-md-3" id="booking-div">
        <h1>Journey Details</h1>
        <form action="" method="post" id="form-journey">

            {% if form.errors %}
                {{ form.errors }}
            {% endif %}


{#            {{  form.hidden_tag() }}#}
            {{ form.csrf_token }}
            <p>
                {{ form.fromstation.label }}<br>
                {{ form.fromstation(size=32, **{'class':'form-control form-control-lg',  'speech':'yes', 'speech-unset-text':'Please say your Source Station', 'speech-set-text':'source station provided is'}) }}
                {% for error in form.fromstation.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.tostation.label }}<br>
                {{ form.tostation(size=32, **{'class':'form-control form-control-lg',  'speech':'yes', 'speech-unset-text':'Please say your Destination station', 'speech-set-text':'destination station is'}) }}
                {% for error in form.tostation.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(**{'class':'btn btn-lg btn-primary','id':'btn-submit'}) }}</p>
        </form>
    </div> <!-- end of div.main-container -->

    <div class="main-container col-md-12" id="train-details-div">

    </div>

{% endblock %}


{% block scripts %}
    <script src="../../static/js/index.js"></script>
{% endblock scripts %}