{% extends "reservation_app/base.html" %}

{% block content %}
    <style>#login-div{margin-top: 200px}</style>
    <div class="main-container col-md-offset-4 col-md-4" id="login-div">
        <h1>Sign In</h1>
        <form action="">
            {{  form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, **{'class':'form-control form-control-lg', 'audio':'username.wav', 'speech':'yes', 'autofocus':'autofocus'}) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32, **{'class':'form-control form-control-lg', 'audio':'password.wav', 'speech':'yes'}) }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(**{'class':'btn btn-lg btn-primary'}) }}</p>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    <script src="../../static/js/login.js"></script>
{% endblock scripts %}